* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

/* Nav Bar */

.nav-container {
	padding: 20px 35px;
	background-color: white;
	position: sticky;
	top: 10px;
}

.left-nav {
	display: inline-block;
}

.right-nav {
	display: inline-block;
	float: right;
}

.nav {
	display: inline-block;
	margin-right: 25px;
}

.tuitt-button {
	background-color: #c2195b;
	padding: 10px 15px;
	color: white;
	border: none;
	border-radius: 20px;
	font-weight: 700;
}

/* Landing Page */
#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 100vh;
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.7);
	min-height: 100vh;
/*	background-size: 100%;*/
}

.container {
	float: right;
	padding-left: 100vh;
	padding-right: 10vh;
}

.title {
/*	color: white;*/
	font-family: "Zilla Slab", sans-serif;
	float: right;
	padding-top: 200px;
	font-size: 2.5rem;
	color: #fff;
	padding-bottom: 20px;
	text-align: right;
}

.subtitle {
	color: #fff;
/*	font-family: "Open Sans", sans-serif;*/
	font-size: 1rem;
	float: right;
	padding-bottom: 20px;
	text-align: right;
	font-weight: ;
}

.apply-button {
	background-color: #c2195b;
	padding: 12px 38px;
	color: white;
	border: none;
	border-radius: 20px;
	float: right;
	font-weight: 700;
}


/* Intro Section */
.intro {
/*	margin: 52px 137px;*/
}

.title-2 {
	text-align: center;
    padding-bottom: 55px;
    font-family: "Zilla Slab", sans-serif;
/*    margin: 52px 137px;*/
	padding-top: 52px;
}

.intro-description {
	text-align: justify;
	margin: 0px 137px;
	padding-bottom: 55px;
}

.pre-footer {
	background-color: #f7fbfb;
/*	position: relative;*/
}

.pre-footer-container {
	margin: 0px 137px;
}

.prefooter-description {
	text-align: center;
/*	margin: 0px 137px;*/
	padding-bottom: 256px;
}

.book-button {
	background-color: #336589;
	padding: 12px 38px;
	color: white;
	border: none;
	border-radius: 20px;
	position: absolute;
    top: 170%;
    left: 45%
/*    font-weight: 700;*/
}

/* Footer */
.footer {
	text-align: center;
	margin: 10px 0px;
}










